.lll {
    display: flex;
    position: absolute;
    top: 100px;
    height: 80vh;
    background: white;
    align-items: center;
    width: 100%;
    flex-direction: column;
}
.body-2{
    justify-content: center;
}

.main-box {
    display: flex;
    font-size: 30px;
}

.title-1-box {
    border-radius: 15px / 15px;
    margin-top: 15px;
    margin-right: 15px;
    height: 26px;
    width: 5px;
    background: #0066b3;
}

.communication-info {
    margin: 5px 0px;
}

.total-search {
    display: flex;
    margin-top: 40px;
    margin-left: 7px;
    justify-content: space-between;
}

.total-box {
    display: flex;
    justify-content: left;
    font-size: 20px;
    width: 190px;
    height: 24px;
}

.total-number {
    color: #0066b3;
    font-size: 18px;
    margin-top: 23px;
    margin-left: 3px;
}

.search-a {
    margin-top: 10px;
    height: 50px;
    width: auto;
    border: 0px solid white;
    float: right;
    margin-left: 100px;
    align-items: center;
}

.button {
    width: 100px;
    height: 40px;
    border-left: 1px solid gray;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    background: rgb(63, 63, 63);
    outline: none;
    float: right;
    color: #ffffff;
    font-size: 15px;
    margin-left: 5px;
    border: 1px solid gray;
    cursor: pointer;
}

#text {
    font-size: 16px;
    width: 500px;
    height: 19px;
    padding: 10px;
    border: 0px;
    border: 0px;
    outline: none;
    float: left;
    border: 1px solid gray;
}

.not {
    width: 1091px;
    height: 60vh;
    background-color: white;
    border-radius: 10px;
}

.lkj {
    display: flex;
    width: 1090px;
    height: 670px;
    background-color: rgb(221, 221, 221);
    border-top: 2px solid black;
    margin-top: 20px;
    height: 80px;
}

.num {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid gray;
}

.noticetitle {
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid gray;
}

.writer {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid gray;
}

.time {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid gray;
}

.view {
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    border-bottom: 2px solid gray;
}

.lkj-under {
    display: flex;
    flex-direction: column-reverse;
    width: 1090px;
    max-height: 720px;
    background-color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.rebox {
    display: flex;
    justify-content: right;
}

.mnb {
    color: black;
    text-decoration: none;
    width: 100%;
    height: 70px;
    display: flex;
    border-bottom: 1px solid gray;
}

.num-1 {
    width: 109px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.noticetitle-1 {
    width: 636px;
    display: flex;
    padding-left: 30px;
    font-weight: 550;
    justify-content: center;
    align-items: center;
    font-size: 17px;
}

.writer-1 {
    width: 109px;
    display: flex;
    font-weight: 500;
    justify-content: center;
    align-items: center;
}

.time-1 {
    width: 109px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.view-1 {
    width: 109px;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-off {
    display: none;
}

.announce {
    margin-left: 40px;
    padding: 3px;
}

.poi {
    display: block;
    position: absolute;
    top: 150px;
    left: 450px;
    height: 80vh;
    margin: auto;
    width: 50%;
    padding: 10px;
    font-size: 20px;
    text-align: center;
    padding-right: 10px;
}

#tittle {
    width: 500px;
    margin-bottom: 10px;
    outline: none; 
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px soild black;
    font-size: 20px;
}

#add {
    width: 500px;
    height: 500px;
    font-size: 20px;
}

.button_box {
    display: flex;
    justify-content: center;
    margin-left: 40px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

ul {
    list-style: none;
    padding: 0;
}

ul.pagination li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

ul.pagination li:first-child {
    border-radius: 5px 0 0 5px;
}

ul.pagination li:last-child {
    border-radius: 0 5px 5px 0;
}

ul.pagination li a {
    text-decoration: none;
    color: #337ab7;
    font-size: 1rem;
}

ul.pagination li.active a {
    color: white;
}

ul.pagination li.active {
    background-color: #337ab7;
}

ul.pagination li a:hover,
ul.pagination li a.active {
    color: blue;
}

.page-selection {
    width: 48px;
    height: 30px;
    color: #337ab7;
}