@font-face {
    font-family: 'Nanum Pen Script', cursive;}
@import url('https://fonts.googleapis.com/css2?family=Nanum+Pen+Script&display=swap');



.MapContainer{
    position: absolute;
    width: 100%;
    height: 100%; 
}
.test_box{
    margin: 10px;
    width: 300px;
    height: 100px;
    z-index: 2;
    position: absolute;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 165px;
}

.test_box_title{
    display: flex;
    border-bottom: 1px solid #a5a5a8;
    border-radius: 10px;
}
.test_box_but{
    height: 24px;
    margin: 5px 0 0 185px;
    border-radius: 10px;
    padding: 0px 0px 0px 0px;
    background: #fff;
    border: 0px;
}
.test_box_but_img{
    height: 24px;
}
p.test_box_title1{
    font-weight: 700;
    height: 30px;
    width: 276px;
    background-color: white;
    padding-left: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}
div.title{
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
}
.test_box_text_box{
    display: flex;
    flex-direction: column;
    width: 300px;
}
.parking_number{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}
.parking_num_text{
    margin-right: 10px;
    font-weight: 500;
}
.parking_num_number{
    color: #0067A3;
}
/* 지도 위 클릭시 나오는 운영요일 정보창 */
div.parking_divbox{
    display: flex;
    margin: 10px;
    font-size: 15px;
}   
.parking_date{
    margin: 10px;
}
.parking_date_text{
    margin-right: 24px;
    font-weight: 500;
    margin: 10px;
}
.parking_date_number{
    margin-right: 24px;
    font-weight: 500;
    margin: 10px;
}
/* 지도 위 클릭시 나오는 운영시간 정보창 */
.parking_clock{
    margin-left: 20px;
}
.parking_clock_text{
    margin-right: 24px;
    font-weight: 500;
}
.parking_clock_number{
    margin-right: 24px;
    font-weight: 500;
}
div.parking_border{
    border: 1px solid #d3d7dc;
    background-color: #d3d7dc;
    border-radius: 10px;
    height: 12px;
    width: 0.5px;
    margin-left : 5px;
    margin-right : 5px;
    margin-top: 3px;
}
.info{
    border-radius: 10px;
}
.info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png);
}
.wrap {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrap * {padding: 0;margin: 0;}
.wrap .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {width: 286px; height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 18px;font-weight: bold;}
.info .close {position: absolute;top: 10px;right: 20px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}